<div class="win-content message-list-wrapper searchable-list ng-scope">
    <header class="win-head">
        <h2 class="ng-binding"><#= locale("farm", "title") #> <span class="small">v<#= version #></span></h2>
        <ul class="list-btn">
            <li><a href="#" class="twOverflow-close size-34x34 btn-red icon-26x26-close"></a></li>
        </ul>
    </header>

    <div class="tabs tabs-bg">
        <div class="tabs-two-col">
            <div class="tab" tab="settings">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("common", "settings") #></a></div>
                </div>
            </div>
            <div class="tab" tab="log">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("common", "logs") #></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="win-main">
        <!-- CONFIGURAÇÕES -->
        <div class="box-paper footer has-footer-upper twOverflow-content-settings">
            <p class="center"><#= locale("farm", "settings.docs") #> <a href="https://gitlab.com/twoverflow/farmoverflow/wikis/Documentation" target="_blank"><#= locale("common", "here") #></a>.</p>

            <form class="settings">
                <h5 class="twx-section collapse"><#= locale("farm", "settings.settings") #></h5>
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="40%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span class="icon-34x34-preset"></span>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.presets") #></span>
                            </td>
                            <td>
                                <select data-setting="presetName" class="preset"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="icon-20x20-queue-indicator-short"></span>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.groupIgnore") #></span>
                            </td>
                            <td>
                                <select data-setting="groupIgnore" class="ignore"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="icon-20x20-queue-indicator-long"></span>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.groupInclude") #></span>
                            </td>
                            <td>
                                <select data-setting="groupInclude" class="include"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="icon-20x20-favourite"></span>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.groupOnly") #></span>
                            </td>
                            <td>
                                <select data-setting="groupOnly" class="only"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.randomBase") #></span>
                            </td>
                            <td>
                                <input data-setting="randomBase" type="number" class="textfield-border" min="0" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.commandsPerVillage") #></span>
                            </td>
                            <td>
                                <input data-setting="commandsPerVillage" type="number" class="textfield-border" min="0" max="50" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="icon-34x34-name_changed"></span>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.priorityTargets") #></span>
                            </td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-priorityTargets">
                                    <input id="settings-priorityTargets" type="checkbox" data-setting="priorityTargets">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="ff-cell-fix"><#- locale("farm", "settings.ignoreOnLoss") #></span>
                            </td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-ignoreOnLoss">
                                    <input id="settings-ignoreOnLoss" type="checkbox" data-setting="ignoreOnLoss">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="ff-cell-fix"><#- locale("farm", "settings.ignoreFullStorage") #></span>
                            </td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-ignoreFullStorage">
                                    <input id="settings-ignoreFullStorage" type="checkbox" data-setting="ignoreFullStorage">
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h5 class="twx-section collapse"><#= locale("farm", "settings.stepCycle/header") #></h5>
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="40%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.stepCycle") #></span>
                            </td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-stepCycle">
                                    <input id="settings-stepCycle" type="checkbox" data-setting="stepCycle">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.stepCycle/interval") #></span>
                            </td>
                            <td><input data-setting="stepCycleInterval" type="text" class="textfield-border" placeholder="00:00:00"></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.stepCycle/notifs") #></span>
                            </td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-stepCycle/notifs">
                                    <input id="settings-stepCycle/notifs" type="checkbox" data-setting="stepCycleNotifs">
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h5 class="twx-section collapse"><#= locale("farm", "settings.targetFilters") #></h5>
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="40%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span class="icon-26x26-double-arrow"></span>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.minDistance") #></span>
                            </td>
                            <td><input data-setting="minDistance" type="number" class="textfield-border" min="0" max="60" required></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="icon-26x26-double-arrow"></span>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.maxDistance") #></span>
                            </td>
                            <td><input data-setting="maxDistance" type="number" class="textfield-border" min="1" max="60" required></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="icon-34x34-points-per-village"></span>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.minPoints") #></span>
                            </td>
                            <td><input data-setting="minPoints" type="number" class="textfield-border" required></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="icon-34x34-points-per-village"></span>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.maxPoints") #></span>
                            </td>
                            <td><input data-setting="maxPoints" type="number" class="textfield-border" required></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="icon-26x26-time"></span>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.maxTravelTime") #></span>
                            </td>
                            <td><input data-setting="maxTravelTime" type="text" class="textfield-border" pattern="\\d{1,2}:\\d{1,2}:\\d{1,2}" required></td>
                        </tr>
                    </tbody>
                </table>

                <h5 class="twx-section collapse"><#= locale("common", "logs") #></h5>
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="40%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span class="icon-26x26-info"></span>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.eventsLimit") #></span>
                            </td>
                            <td><input data-setting="eventsLimit" type="number" class="textfield-border" min="1" required></td>
                        </tr>

                        <tr>
                            <td><#= locale("farm", "settings.eventAttack") #></td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-eventAttack">
                                    <input id="settings-eventAttack" type="checkbox" data-setting="eventAttack">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><#= locale("farm", "settings.eventVillageChange") #></td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-eventVillageChange">
                                    <input id="settings-eventVillageChange" type="checkbox" data-setting="eventVillageChange">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><#= locale("farm", "settings.eventPriorityAdd") #></td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-eventPriorityAdd">
                                    <input id="settings-eventPriorityAdd" type="checkbox" data-setting="eventPriorityAdd">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><#= locale("farm", "settings.eventIgnoredVillage") #></td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-eventIgnoredVillage">
                                    <input id="settings-eventIgnoredVillage" type="checkbox" data-setting="eventIgnoredVillage">
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h5 class="twx-section collapse"><#= locale("common", "others") #></h5>
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="40%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span class="icon-26x26-message-misc"></span>
                                <span class="ff-cell-fix"><#= locale("farm", "settings.remote") #></span>
                            </td>
                            <td><input data-setting="remoteId" type="text" class="textfield-border" min="3" max="45"></td>
                        </tr>
                        <tr>
                            <td><#= locale("farm", "settings.hotkeySwitch") #></td>
                            <td><input data-setting="hotkeySwitch" type="text" class="textfield-border"></td>
                        </tr>
                        <tr>
                            <td><#= locale("farm", "settings.hotkeyWindow") #></td>
                            <td><input data-setting="hotkeyWindow" type="text" class="textfield-border"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <!-- EVENTOS -->
        <div class="box-paper footer has-footer-upper twOverflow-content-log">
            <div class="screen-tribe-news rich-text">
                <h5 class="twx-section collapse"><#= locale("common", "status") #></h5>
                <table class="tbl-border-light tbl-news tbl-big-header">
                    <colgroup>
                        <col width="135px">
                        <col width="*">
                    </colgroup>
                    <tbody>
                        <tr class="list-item">
                            <td class="status" colspan="2" class="cell-center"><#= locale("common", "paused") #></td>
                        </tr>
                        <tr class="reduced">
                            <td><#= locale("farm", "events.selectedVillage") #></td>
                            <td class="selected"></td>
                        </tr>
                        <tr class="reduced">
                            <td><#= locale("farm", "events.lastAttack") #></td>
                            <td class="last"><#= locale("common", "none") #></td>
                        </tr>
                    </tbody>
                </table>

                <h5 class="twx-section collapse"><#= locale("common", "logs") #></h5>
                <table class="tbl-border-light tbl-news tbl-big-header">
                    <colgroup>
                        <col width="76px">
                        <col>
                    </colgroup>
                    <tbody class="events">
                        <tr class="reduced nothing">
                            <td colspan="2">
                                <div>
                                    <span><#= locale("farm", "events.nothingYet") #></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="win-foot">
        <ul class="list-btn list-center">
            <li class="twOverflow-button-settings">
                <a class="btn-orange btn-border save"><#= locale("common", "save") #></a>
            </li>
            <li class="twOverflow-button">
                <a class="btn-green btn-border start"><#= locale("common", "start") #></a>
            </li>
        </ul>
    </footer>
</div>
